.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25;
    margin-right: 25;
    background-color: #252525;
    border-radius: 15px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}